<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>jdio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/jRadio.css">
        <!-- <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300,300i,400,400i,600,600i,700,700i,900,900i"> -->
        <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300">
        <script type="text/javascript" src="js/util.js"></script>
    </head>
    <body>
        {{{body}}}

        <script type="text/javascript" src="js/jRadio.js"></script>
    </body>
</html>
