@font-face {
  font-family: 'Chomp';
  src: url('Chomp.eot'); /* IE9 Compat Modes */
  src: url('Chomp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Chomp.woff') format('woff'), /* Modern Browsers */
       url('Chomp.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Chomp.svg#cc13b3e6929ae084362d646876a686d5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

