footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    background: #fff;
    font-size: .75em;

    p {
        color: #666;
    }

    a {
        color: #222;
        border-bottom: 1px dotted #aaa;
    }
}

.site_loading + footer {
    display: none;
}
