@mixin header_bg() {
    background: top left no-repeat;
    background-size: cover;
}

header {
    min-height: $header_height;
    text-align: center;
    overflow: hidden;

    @include header_bg();
    @include box-sizing(border-box);

    h1 {
        margin: 0;
        padding: .25em 0 0 0;
        display: inline-block;
        text-transform: lowercase;
        letter-spacing: 0.15em;
        font-size: 2em;
        font-weight: normal;

        // for hiding
        position: relative;
        top: 0;

        @include single-transition(top);
    }

    .toggle_played {
        position: relative;
        float: right;
        color: transparent;
        width: $header_height;
        height: $header_height;
        border-left: 1px solid #fff;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 1em);
            right: calc(50% - 1em);
            background: #fff;
            width: 2em;
            height: 2em;
            border-radius: 100%;
        }
    }
}


.playing ~ .site header h1 {
    top: $header_height;

    @include jiggle(down, $delay: 0, $direction: reverse);
    @include transition-delay($default-transition-duration * .15);
}
