header {
    padding: .4em 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $header_height;
    text-align: center;
    color: #fff;
    background: url(/images/unearthed_bg.jpg) top left no-repeat;
    background-size: cover;

    @include box-sizing(border-box);

    h1 {
        margin: 0;
        font-family: 'Chomp', sans-serif;
        text-transform: lowercase;
        letter-spacing: 0.15em;
        font-size: 2em;
        font-weight: normal;
    }
}
