header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $header_height;
    text-align: center;
    color: #fff;
    background: url(/images/unearthed_bg.jpg) top left no-repeat;
    background-size: cover;
}
