$loading_speed: $default-transition-duration / 2;

@include keyframes(drumstick_middle) {
    0%,33% {
        @include transform3d( rotateZ(115deg) );
    }

    67%, 100% {
        @include transform3d( rotateZ(160deg) );
    }
}

@include keyframes(drumstick_left) {
    0%,33% {
        @include transform3d( rotateZ(45deg) );
    }

    67%, 100% {
        @include transform3d( rotateZ(90deg) );
    }
}

@include keyframes(drumstick_right) {
    0%,33% {
        @include transform3d( rotateZ(255deg) );
    }

    67%, 100% {
        @include transform3d( rotateZ(225deg) );
    }
}

@include keyframes(drumstick_mask) {
    0%,33% {
        @include scaleY(0);
    }

    67%, 100% {
        @include scaleY(1);
    }
}

@include keyframes(drum_exit) {
    0% {
        @include transform3d( scale3d(1, 1, 1) );
        opacity: 1;
    }

    100% {
        @include transform3d( scale3d(.9, .9, 1) );
        opacity: 0;
    }
}

.site_loading {
    margin-top: 35%;
    font-size: 5em;
    position: relative;
    display: inline-block;

    &:after {
        @include icon(drumming);
    }

    .icon-drumstick {
        position: absolute;
        top: 0;
        left: 0;

        width: 0;
        height: 0;

        &:before {
            position: absolute;
            left: -.5em;
            bottom: -0.25em;
        }

        &, &:after {
            @include animation(drumstick_middle, $count: infinite, $direction: alternate, $timing: ease-in, $duration: $loading_speed);
        }

        &:after {
            content: '';
            position: absolute;
            width: .051em;
            background: #eee;
            @include apply-origin(0 0, false);
            @include animationName(drumstick_mask);
            @include animationTimingFunction( cubic-bezier(.8, .2, .8, .2) );
        }

        &.middle {
            top: 0.14em;
            left: 0.35em;

            &:after {
                height: 0.15em;
                top: -0.46em;
                left: calc(50% - .025em);
            }
        }

        &.left {
            top: 0.68em;
            left: -0.01em;

            @include animationName(drumstick_left);

            &, &:after {
                @include animationDelay(-$loading_speed/2);
            }

            &:after {
                height: 0.225em;
                top: -0.46em;
                left: calc(50% - .03em);
            }
        }

        &.right {
            top: 0.25em;
            left: 1em;

            @include animationName(drumstick_right);

            &, &:after {
                @include animationDelay(-$loading_speed);
            }

            &:after {
                height: 0.2em;
                top: -0.47em;
                left: calc(50% - .025em);
            }
        }
    }

    &.loaded {
        @include animation(drum_exit, $duration: $default-transition-duration, $delay: $default-transition-duration*2);
        @include animationFillMode(forwards);

        &:after {
            @extend .icon-drum:before;
        }
        .icon-drumstick {
            display: none;
        }
    }
}
