nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: top left no-repeat;
    background-size: cover;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        @include flex();
    }

    li {
        width: 100%;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border: 1em solid transparent;
            z-index: -1;
            left: calc(50% - 1em);

            // animate hide
            top: 0em;
            @include single-transition(top);
        }

        &.active:after {
            top: -2em;
        }
    }

    a {
        padding: 1em 0;
        width: 100%;
        text-align: center;
        display: block;
        text-decoration: none;
    }
}
