@include keyframes(spin) {
    0% {
        @include rotate(0deg);
    }

    100% {
        @include rotate(359deg);
    }
}

.player {
    @include header_bg();

    width: 100%;
    height: $header_height;
    position: fixed;
    z-index: 9;

    // hide
    @include translateY(-$header_height - 1em);
    @include single-transition(all);

    .track_info {
        padding-top: .333em;
        height: $header_height;
    }

    a {
        @include rotate(0deg);
        @include single-transition(all);
    }

    h3, h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include translateY(-$header_height);
        @include single-transition(all);
    }

    &.playing {
        @include translateY(0);

        h3, h4 {
            @include translateY(0);
        }

        h3 { @include transition-duration($default-transition-duration * 1.2) }
        h4 { @include transition-duration($default-transition-duration * 1.4) }
    }

    &.loading {
        a {
            border-style: dotted;
            @include animation(spin, $count: infinite, $timing: linear, $duration: $default-transition-duration * 5);
        }
    }
}
