.player {
    position: fixed;
    top: - $header_height;
    left: 0;
    width: 100%;
    height: $header_height;
    background: #f00;

    z-index: 999;

    &.playing {
        top: 0;
    }

    iframe {
        // display: none;
    }
}
