@mixin site_position($x) {
    @include transform3d( translate3d($x,0,0) );

    &.show_tray {
        @include transform3d( translate3d($x,$played_height,0) );
    }
}

.site {
    padding-bottom: 2em;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include single-transition(all);

    @include site_position(-100%);

    &.active {
        @include site_position(0);
    }

    &.active ~ & {
        @include site_position(100%);
    }
}
