@mixin img_theme($color1, $color2, $color3, $color4) {
    .track .img_container:before { background-color: $color1 }
    .track:nth-child(2n) .img_container:before { background-color: $color2 }
    .track:nth-child(3n) .img_container:before { background-color: $color3 }
    .track:nth-child(4n) .img_container:before { background-color: $color4 }
}

@mixin track_theme($primary, $secondary, $bg: false, $bg_color: false) {
    background: $bg;

    h3 {
        color: $primary;
    }

    h4 {
        color: lighten($secondary, 15%);
    }

    .play {
        border-color: $primary;
        color: $primary;
    }

    &.playing {
        a {
            @if ($bg_color) { background: active_button_bg($bg_color); }
        }
    }

    &.featured:after {
        background: $secondary;
    }
}

@function active_button_bg($container_bg) {
    $button_bg: saturate(darken($container_bg, 25%), 30%);
    @return rgba($button_bg, .8);
}

@mixin header_theme($color, $bg, $img, $font) {
    color: $color;
    background-color: $bg;
    background-image: url(/images/#{$img});

    h1 {
        font-family: $font;
    }

    a {
        color: $color;
        border-color: $color;
    }


}

@mixin nav($bg, $img, $color) {
    background-color: $bg;
    // background-image: url(/images/#{$img});

    li:after {
        border-bottom-color: $bg;
    }

    a {
        color: $color;
    }
}

@mixin theme(
        $header_text: #fff,
        $header_bg: #000,
        $header_img: '',
        $header_font: 'sans-serif',
        $primary: #333,
        $secondary: #aaa,
        $bg: #fff
    ) {

    #content {
        background: darken($bg, 10%);
    }

    header {
        @include header_theme(
            $header_text,
            $header_bg,
            $header_img,
            $header_font
        );
    }

    .player {
        background-image: url(/images/#{$header_img});

        @include track_theme(
            $header_text,
            rgba($header_text, .75),
            $header_img,
            $header_bg
        );
    }

    .played {
        $track_bg: saturate(darken($header_bg, 25%), 30%);
        background-image: url(/images/#{$header_img});
        background-color: $header_bg;

        .track {
            border-bottom-color: lighten($track_bg, 1%);
            background: active_button_bg($header_bg);

            @include track_theme(
                $header_text,
                $secondary
            );
        }

        &.active + header .toggle_played {
            background: active_button_bg($header_bg);
        }

        .time {
            color: lighten($header_bg, 5%);
        }
    }

    .tracks .track {
        box-shadow: rgba(#000,0.05) 0 1px 0;

        @include track_theme(
            $primary,
            $secondary,
            $bg
        );

        &.playing .play {
            background: rgba($primary, 0.2);
        }
    }

    @include img_theme(
        lighten($primary, 40%),
        lighten($secondary, 10%),
        #7fd1e5,
        #fff59d
    );

    nav {
        @include nav(
            $header_bg,
            $header_img,
            $header_text
        );
    }
}
