@mixin img_theme($color1, $color2, $color3, $color4) {
    .track .img_container:before { background-color: $color1 }
    .track:nth-child(2n) .img_container:before { background-color: $color2 }
    .track:nth-child(3n) .img_container:before { background-color: $color3 }
    .track:nth-child(4n) .img_container:before { background-color: $color4 }
}

@mixin track_theme($primary, $secondary, $bg: none) {
    background: $bg;

    h3 {
        color: $primary;
    }

    h4 {
        color: lighten($secondary, 15%);
    }

    .play {
        border-color: $primary;

        &:after {
            border-left-color: $primary;
        }
    }

    &.playing {
        a:after {
            box-shadow: $primary .6667em 0;
            background: $primary;
        }
    }

    &.featured:after {
        background: $secondary;
    }
}

@mixin header_theme($color, $bg, $img, $font) {
    color: $color;
    background-color: $bg;
    background-image: url(/images/#{$img});

    h1 {
        font-family: $font;
    }

    .toggle_played {
        border-left-color: lighten($bg, 7.5%);
    }
}

@mixin nav($bg, $img, $color) {
    background-color: $bg;
    // background-image: url(/images/#{$img});

    li:after {
        border-bottom-color: $bg;
    }

    a {
        color: $color;
    }
}

@mixin theme(
        $header_text: #fff,
        $header_bg: #000,
        $header_img: '',
        $header_font: 'sans-serif',
        $primary: #333,
        $secondary: #aaa,
        $bg: #fff
    ) {

    #content {
        background: darken($bg, 10%);
    }

    header {
        @include header_theme(
            $header_text,
            $header_bg,
            $header_img,
            $header_font
        );
    }

    .player {
        background-image: url(/images/#{$header_img});

        @include track_theme(
            $header_text,
            rgba($header_text, .75),
            $header_img
        );
    }

    .track {
    }

    .played {
        background-image: url(/images/#{$header_img});

        .track {
            border-bottom-color: $header_bg;

            @include track_theme(
                $header_text,
                $secondary
            );
        }
    }

    .tracks .track {
        box-shadow: rgba(#000,0.05) 0 1px 0;

        @include track_theme(
            $primary,
            $secondary,
            $bg
        );
    }

    @include img_theme(
        lighten($primary, 40%),
        lighten($secondary, 10%),
        #7fd1e5,
        #fff59d
    );

    nav {
        @include nav(
            $header_bg,
            $header_img,
            $header_text
        );
    }
}
