.track {
    margin: 0;
}

.track_info {
    padding: 0 .5em;
    position: relative;
    width: 100%;
    text-align: left;

    @include box-sizing(border-box);

    .text {
        padding: .25em 0;
    }

    .play + .text {
        padding-left: 3em;
    }

    h3, h4 {
        margin: 0;
        font-weight: normal;
    }

    h3 {
        line-height: 1.15em;
    }

    h4 {
        line-height: 18px;
    }

    .play {
        border: 0.05em solid;
        border-radius: 100%;
        position: absolute;
        top: calc(50% - .5em);
        left: 0.2em;
        width: 1em;
        height: 1em;
        text-align: center;
        font-size: 2.5em;

        @include single-transition(background, $duration: $default-transition-duration/2);
        @include box-sizing(border-box);

        // icon
        &:before {
            opacity: 1;
            font-size: .5em;
            position: relative;
            left: calc(50% - .8em);
            top: -.45em;

            @include single-transition(opacity);
        }
    }
}

.playing .track_info {
    a:before {
        @extend .icon-pause;
        left: 0;
    }
}

.loading .track_info {
    a:before {
        opacity: 0;
    }
}
