.played {
    background-size: 500px;
    background-position: center center;
    overflow: auto;

    // enable inertial scrolling for ios and maybe android?
    -webkit-overflow-scrolling: touch;

    // hide when not active
    height: 0;
    @include single-transition(height);

    .track {
        padding: .25em 0;
        border-bottom: 1px solid;

        &:last-child {
            border: none;
        }
    }

    .time {
        position: absolute;
        width: 3em;
        text-align: center;
        font-size: 0.5em;
        line-height: 1em;
        top: calc(50% - 1.5em);
        right: .5em;

        strong {
            display: block;
            font-size: 2.5em;
            margin-bottom: 0.2em;
        }
    }

    &.active {
        height: 10em;
    }
}
