@include keyframes(track_intro) {
    0% {
        @include transform3d( translate3d(0,2.5em,0) );
        opacity: 0;
    }

    50% {
        @include transform3d( translate3d(0,-.25em,0) );
        opacity: .75;
    }

    75% {
        @include transform3d( translate3d(0,.1em,0) );
        opacity: 1;
    }

    100% {
        @include transform3d( translate3d(0,0,0) );
        opacity: 1;
    }
}

.tracks {
    padding: .5em;
    @include flex();
    // @include flex-direction(column);
    @include flex-wrap(wrap);
    @include flex-justify-space-between();

    .track {
        margin-bottom: .5em;

        width: 48.85%;

        .img_container {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.2;
            }
        }

        img {
            width: 100%;
            display: block;
        }

        // ordering
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) { @include order($i); }
        }

        &.featured {
            position: relative;

            width: 100%;

            // icon
            &:after {
                @extend [class^="icon-"]:before;
                @extend .icon-featured:before;
                position: absolute;
                width: 1em;
                height: 1em;
                border-radius: 100%;
                top: -6px;
                left: -6px;
                font-size: 2em;
                line-height: 1.05em;
                padding: calc(1em / 16);
                text-align: center;
            }

            // scatter featured tracks among the new ones
            @for $i from 17 through 20 {
                &:nth-child(#{$i}) { @include order( ($i - 17) * 4 ); }
            }
        }

        &:not(.featured) {
            .play {
                top: -4.5em;
                left: calc(50% - 1.275em);
                color: #fff;
                border-color: #fff;
                opacity: 0.9;
            }

            .text {
                padding-left: 0;
                font-size: .75em;
            }
        }

        // intro animations
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) { @include animation(track_intro); }
        }

        @for $i from 17 through 18 {
            &.featured:nth-child(#{$i}) { @include animation(track_intro); }
        }

        &:nth-child(1) { @include animationDuration($default-transition-duration * 1.1); }
        &:nth-child(2) { @include animationDuration($default-transition-duration * 1.2); }
        &:nth-child(3) { @include animationDuration($default-transition-duration * .9); }
        &:nth-child(4) { @include animationDuration($default-transition-duration * .8); }

        &.loading {
            opacity: 0;
            @include animation(none);
        }
    }
}
