.tracks {
    padding: .5em;
    @include flex();
    @include flex-direction(column);
}

.track {
    margin: 0 0 .5em 0;
    border-radius: 2px;

    .img_container {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.2;
        }
    }

    img {
        width: 100%;
        display: block;
    }

    // ordering
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) { @include order($i); }
    }

    &.featured {
        position: relative;

        // scatter featured tracks among the new ones
        @for $i from 15 through 20 {
            &:nth-child(#{$i}) { @include order( ($i - 16) * 3 ); }
        }

        &:after {
            content: '';
            position: absolute;
            width: 4em;
            height: 4em;
            background: #f00;
            border-radius: 100%;
            top: -.625em;
            left: -.625em;
        }
    }
}

.track_info {
    padding: 0 .5em;
    padding-left: 3.5em;
    position: relative;
    width: 100%;
    min-height: $header_height;
    text-align: left;

    @include box-sizing(border-box);

    .text {
        padding: 2% 0;
    }

    h3, h4 {
        margin: 0;
    }

    h3 {
        line-height: 1.3em;
    }

    h4 {
        line-height: 1em;
    }

    a {
        border: 0.15em solid;
        border-radius: 100%;
        color: rgba(0,0,0,0);

        position: absolute;
        top: calc(50% - 2.55em/2);
        left: .5em;
        width: 2.25em;
        height: 2.25em;

        &:after {
            content: '';
            position: absolute;
            border: .75em solid transparent;
            border-left-width: 1.1em;
            top: 0.375em;
            left: 0.75em;
        }
    }
}

.loading .track_info {
    a {
        opacity: .5;
    }
}

.playing .track_info {
    a:after {
        border: none;
        width: 0.333em;
        height: 50%;
        left: 30%;
        top: 25%;
    }
}
