.track {
    margin: 0 0 1px 0;
    position: relative;

    img {
        width: 100%;
        display: block;
    }

    .info {
        padding: .5em;
        padding-left: 3.75em;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(#000, 0.5);

        @include box-sizing(border-box);
    }

    h3, h4 {

    }

    h3 {
        margin: 0 0 .25em 0;
        color: #fff;
    }

    h4 {
        margin: 0;
        color: rgba(#fff, 0.5);
    }

    a {
        border: 0.15em solid #fff;
        border-radius: 100%;
        color: rgba(0,0,0,0);

        position: absolute;
        top: calc(50% - 2.55em/2);
        left: .5em;
        width: 2.25em;
        height: 2.25em;

        &:after {
            content: '';
            position: absolute;
            border: .75em solid transparent;
            border-left-color: #fff;
            border-left-width: 1.1em;
            top: 0.375em;
            left: 0.75em;
        }
    }

    &.loading {
        a {
            opacity: .5;
        }
    }

    &.playing {
        a:after {
            border: none;
            width: 0.333em;
            height: 50%;
            box-shadow: #fff .6667em 0;
            background: #fff;
            left: 30%;
            top: 25%;
        }
    }
}
