.played {
    background-size: cover;

    // hide when not active
    display: none;

    .track {
        padding: .25em 0;
        border-bottom: 1px solid;

        &:last-child {
            border: none;
        }
    }

    .time {
        position: absolute;
        width: 3em;
        text-align: center;
        font-size: 0.75em;
        line-height: 1em;
        top: calc(50% - 1.583em);

        strong {
            display: block;
            font-size: 2em;
            margin-bottom: 0.25em;
        }
    }

    &.active {
        display: block;

        .track,
        & + header .toggle_played {
            background: rgba(0,0,0,0.2);
        }

        & + header .toggle_played {
            border-left-color: transparent;
        }
    }
}
