.track {
    margin: 0;

    .img_container {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.2;
        }
    }

    img {
        width: 100%;
        display: block;
    }
}

.track_info {
    padding: 0 .5em;
    position: relative;
    width: 100%;
    min-height: $header_height;
    text-align: left;

    @include box-sizing(border-box);

    .text {
        padding: 2% 0;
    }

    .play + .text {
        padding-left: 3em;
    }

    h3, h4 {
        margin: 0;
        font-weight: normal;
    }

    h3 {
        line-height: 21px;
    }

    h4 {
        line-height: 18px;
    }

    .play {
        border: 0.15em solid;
        border-radius: 100%;

        position: absolute;
        top: calc(50% - 2.55em/2);
        left: .5em;
        width: 2.25em;
        height: 2.25em;
        text-align: center;

        @include single-transition(background, $duration: $default-transition-duration/2);

        // icon
        &:before {
            font-size: 1.25em;
            line-height: 1.75em;
            position: relative;
            left: calc(1em / 10);
        }
    }
}

.loading .track_info {
    .play {
        opacity: .5;
    }
}

.playing .track_info {
    a:before {
        @extend .icon-pause;
        left: 0;
    }
}
