.tracks {
    padding: .5em;
    @include flex();
    @include flex-direction(column);

    // to cover played tracks
    @include translateY(-$played_height);
    @include single-transition(all);

    .track {
        margin-bottom: .5em;
        border-radius: 2px;

        // ordering
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) { @include order($i); }
        }

        &.featured {
            position: relative;

            // scatter featured tracks among the new ones
            @for $i from 15 through 20 {
                &:nth-child(#{$i}) { @include order( ($i - 16) * 3 ); }
            }

            &:after {
                content: '';
                position: absolute;
                width: 4em;
                height: 4em;
                border-radius: 100%;
                top: -.625em;
                left: -.625em;
            }
        }
    }
}

// reveal played tracks
.played.active ~ .tracks {
    @include translateY(0);
}
