@include keyframes(track_intro) {
    0% {
        @include transform3d( translate3d(0,2.5em,0) );
        opacity: 0;
    }

    50% {
        @include transform3d( translate3d(0,-.25em,0) );
        opacity: .75;
    }

    75% {
        @include transform3d( translate3d(0,.1em,0) );
        opacity: 1;
    }

    100% {
        @include transform3d( translate3d(0,0,0) );
        opacity: 1;
    }
}

.tracks {
    padding: .5em;
    @include flex();
    @include flex-wrap(wrap);
    @include flex-justify-space-between();

    .track {
        margin-bottom: .5em;

        width: 48.85%;

        .img_container {
            position: relative;
            background-size: cover;
            background-position: center;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.2;
            }

            // dummy element to control the image size as ratio to container size
            &:after {
                content: '';
                display: block;

                // height ratio
                padding-top: 66.667%;
            }
        }

        img {
            width: 100%;
            display: block;
        }

        // ordering
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) { @include order($i); }
        }

        &.featured,
        &.article {
            width: 100%;

            // scatter articles and featured tracks among the new ones
            @for $i from 13 through 15 {
                &:nth-child(#{$i}) { @include order( ($i - 13) * 4 ); }
            }
        }

        &.featured {
            position: relative;

            // icon
            &:after {
                @extend [class^="icon-"]:before;
                @extend .icon-featured:before;
                position: absolute;
                width: 1em;
                height: 1em;
                border-radius: 100%;
                top: -6px;
                left: -6px;
                font-size: 2em;
                line-height: 1.05em;
                padding: calc(1em / 16);
                text-align: center;
            }
        }

        &:not(.featured) .track_info {
            .play {
                margin-top: -47.5%;
                top: 0;
                left: calc(50% - .5em);
                color: #fff;
                border-color: #fff;
                opacity: 0.9;
            }

            .text {
                padding-left: 0;
                font-size: .75em;
            }
        }

        &.article {
            .track_info .text {
                font-size: 1em;
                line-height: 1.5em;
                font-weight: 300;
            }

            h3 {
                font-size: 1.5em;
            }

            .content {
                position: relative;
                max-height: 3.6em;
                overflow: hidden;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    background: linear-gradient(color-stops(rgba(#fff,0), #fff));
                }
            }

            img {
                height: inherit;
            }

            .type-video,
            iframe {
                display: none;
            }

            &.active {
                .content {
                    max-height: 999em;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        // animate track into and stagger across the bunch
        @include animation(track_intro);
        &:nth-child(2n) { @include animationDuration($default-transition-duration * 1.1); }
        &:nth-child(3n) { @include animationDuration($default-transition-duration * 1.2); }
        &:nth-child(4n) { @include animationDuration($default-transition-duration * .9); }
        &:nth-child(5n) { @include animationDuration($default-transition-duration * .8); }
    }
}

.tracks .track.loading ,
.site_loading + .tracks .track {
    opacity: 0;
    @include animation(none);
}
