$default-transition-duration: .3s;
$default-transition-timing: ease-in-out;
$header_height: 3em;
$played_height: 10em;

// third party util
@import "normalize";

// compass utils
@import "compass/css3";
@import "compass/utilities/general/clearfix";

// bespoke utils
@import "mixins";
@import "media";
@import "animations";

// fonts
@import "chomp";
@import "icon";

// styling
@import "site";
@import 'header';
@import 'track_base';
@import 'track_tracks';
@import 'track_played';
@import 'player';
//@import 'nav';

// themes
@import 'theme_mixins';
@import 'themes';

html {
    background: #eee;
}

a {
    text-decoration: none;
}
