$header_height: 3em;

@import "normalize";
@import "compass/css3";

@import "chomp";

@import 'header';
@import 'track';
@import 'player';

body {
    margin-top: $header_height;
    padding-top: 1px;
}
