$default-transition-duration: .25s;
$default-transition-timing: ease-in-out;
$header_height: 3.25em;

@import "normalize";
@import "compass/css3";

@import "chomp";

@import 'header';
@import 'track';
@import 'player';
@import 'nav';

@import 'theme_mixins';
@import 'themes';

body {
    margin-top: $header_height;
}
