<div class="track_info">
    {{#if hash.play}}<a href="javascript:void(0)" target="_blank" class="play icon-play" title="Play"></a>{{/if}}
    {{#if hash.time}}<span class="time">{{ time time=hash.time }}</span>{{/if}}
    <div class="text">
        <h3 class="title">{{hash.title}}</h3>
        {{#if hash.artist}}<h4 class="artist">{{hash.artist}}</h4>{{/if}}
        {{#if hash.content}}<div class="content">{{{hash.content}}}</div>{{/if}}
    </div>
</div>
