<div class="track_info">
    {{#if hash.play}}<a href="javascript:void(0)" target="_blank" class="play icon-play" title="Play"></a>{{/if}}
    {{#if hash.utc}}<span class="time">{{ time site=hash.site local=hash.local utc=hash.utc }}</span>{{/if}}
    <div class="text">
        <h3 class="title">{{hash.title}}</h3>
        <h4 class="artist">{{hash.artist}}</h4>
    </div>
</div>
