<img src="{{image.src}}" alt="image.alt" />
<div class="info">
    <h3 class="title">{{title}}</h3>
    <h4 class="artist">{{artist.text}}</h4>
    <a href="javascript:void(0)" target="_blank">Play</a>
</div>
