@include small {
    $header_height: 7.65em;

    header,
    .player {
        margin: .5em;
        position: fixed;
        right: 0;
        width: calc(#{100% - $site_width} - .5em);
    }

    .player {
        top: $header_height;
    }

    header {
        top: 0;
        height: $header_height;
        z-index: 10;
        box-shadow: #eee 0 -1em 0;

        .radio,
        .toggle_played {

        }

        h1,
        .radio {
            width: 50%;
            height: 100%;
        }

        .radio {
            margin: 0;
            border: none;
            background: #444;
            border-radius: 0;
            float: right;

            &:before {
                font-size: 2em;
                line-height: 3.875em;
            }
        }

        .toggle_played {
            display: none;
        }

        h1 {
            float: left;
            color: transparent;

            &:before {
                font-size: 3em;
                left: calc(50% - .5em);
                top: inherit;
                bottom: -0.15em;
            }

            &:after {
                position: absolute;
                font-size: 1.75em;
                left: calc(50% - 0.575em);
                top: calc(50% - 0.75em);
            }
        }
    }

}
