@include small {

    // aligns with bottom of first featured track
    $played_pos: 39.75%;

    .played {
        font-size: .75em;
        position: absolute;
        top: inherit;
        left: inherit;
        bottom: -100% + $played_pos;
        right: .5em;
        background: none;
        width: calc(#{100% - $site_width} - .5em);
        height: 100%;
        overflow: inherit;

        @include flex();
        @include flex-direction(column-reverse);
        @include flex-justify-end();

        .track {
            padding-top: .5em;
            background: none;
            border: none;

            h3 {
                color: #666;
            }

            h4 {
                color: #aaa;
            }

            .time {
                color: #ccc;
            }
        }

        h1 {
            margin: 0 .5em 0 0;
            padding: 100% 0 .5em .375em;
            display: block;
            position: fixed;
            bottom: $played_pos;
            right: 0;
            background: #eee;
            width: calc(#{100% - $site_width} - .5em);
            box-shadow: rgba(0,0,0,0.1) 0 2px 0;
            text-align: left;
            font-size: 1.33333333em;
            z-index: 1;

            @include box-sizing(border-box);
        }

        // cover up the heading when scrolled past the last recent track
        &:before {
            content: '';
            position: relative;
            width: 100%;
            z-index: 2;
            box-shadow: #eee 999em 999em 0 999em;

            // hack to force redraw during scrolling on ios
            -webkit-transform: translateZ(0);
        }
    }

}
