@include small {

    // aligns with bottom of first featured track
    $played_pos: 20.35em;

    .played {
        padding-top: $played_pos + 9.65em;
        font-size: .75em;
        top: inherit;
        background: none;

        width: inherit;
        position: relative;
        left: 0;

        overflow: hidden;
        @include flex-align-self-stretch();
        height: inherit;

        @include flex-shrink(2);
        @include order(2);

        @include flex();
        @include flex-direction(column-reverse);
        @include flex-justify-end();

        .track {
            padding-top: .5em;
            background: none;
            border: none;
            z-index: 1;

            h3 {
                color: #444;
            }

            h4 {
                color: #aaa;
            }

            .time {
                color: #aaa;
            }
        }

        h1 {
            margin: 0;
            padding: $played_pos 0 .5em .375em;
            display: block;
            position: fixed;
            top: 0;
            right: 10%;
            background: #eee;
            width: $played_width;
            box-shadow: rgba(0,0,0,0.1) 0 2px 0;
            text-align: left;
            font-size: 1.33333333em;
            z-index: -1;

            @include box-sizing(border-box);
        }

        // cover up the heading when scrolled past the last recent track
        &:before {
            content: '';
            position: relative;
            width: 100%;
            z-index: $played_h1_cover_z;
            box-shadow: #eee 999em 999em 0 999em;

            // hack to force redraw during scrolling on ios
            -webkit-transform: translateZ(0);
        }
    }

    .site.active .played h1 {
        z-index: $played_h1_z;
    }

}
