@include small {

    .played {
        font-size: .75em;
        position: absolute;
        top: inherit;
        left: 66.6667%;
        top: inherit;
        bottom: -80%;
        background: none;
        width: calc(33.333% - .5em);
        height: 100%;
        overflow: inherit;

        @include flex();
        @include flex-direction(column-reverse);
        @include flex-justify-end();

        .track {
            padding-top: .5em;
            background: none;
            border: none;

            h3 {
                color: #666;
            }

            h4 {
                color: #aaa;
            }

            .time {
                color: #ccc;
            }
        }
    }

}
